.hints__container {
    background-color: #eeeae1;
}

.hint__headline {
    font-family: "Fjalla One";
    font-style: italic;
    font-size: 40px;
    font-weight: 600;
    color: #343434;
    text-align: center;
    padding: 70px 0 50px 0;
}

.hint__box {
    border-bottom: 1px solid #343434;
    border-top: 1px solid #343434;
    display: flex;
    background-color: #dfd6cf;
    width: 100%;
    height: 430px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
.hint__box:last-child {
    margin-bottom: 0;
}
.hint__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.hint__photo {
    padding-top: 5px;
    position: relative;
    padding-left: 50px;
    width: 400px;
    height: 350px;
    overflow: hidden;
}
.hint__img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
}
.hint__text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}
.hint__title {
    width: 380px;
    padding-bottom: 15px;
    border-bottom: 1px solid #343434;
    font-size: 30px;
    color: #343434;
}

.hint__description {
    font-family: "Karla", sans-serif;
    padding-top: 15px;
    padding-right: 20px;
}
.quote {
    font-family: "Source Serif Pro", serif;
    font-style: italic;
    font-size: 35px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 70px;
}
