.introduce {
    background-color: #343434;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.introduce_text {
    font-family: "Libre Baskerville", serif;
    width: 700px;
    color: #fff;
    text-align: center;
    margin: 0;
    font-weight: 400;
    font-style: italic;
    font-size: 28px;
}
