.footer {
    background-color: #343434;
    display: flex;
    justify-content: space-around;
    padding: 20px 0 20px 0;
}
.footer__text {
    color: #eeeee1;
    opacity: 0.5;
}

.footer__icons {
    display: flex;
}

.icon {
    margin-left: 10px;
}
