body {
    margin: 0;

    font-family: "Raleway", sans-serif;
    font-size: 14px;
    color: #343434;
    -webkit-font-smoothing: antialiased;
    background-color: #eeeae1;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}
