body {
    margin: 0;

    font-family: "Raleway", sans-serif;
    font-size: 14px;
    color: #343434;
    -webkit-font-smoothing: antialiased;
    background-color: #eeeae1;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    border-bottom: 1px solid #515369;
    background-color: #eeeae1;
}

.header__logo {
    margin-left: 30px;
    color: #343434;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 26px;
    font-weight: 300;
}

.nav {
    display: flex;
    font-size: 13px;
    text-transform: uppercase;
    margin-right: 70px;
}

.nav__link {
    margin-left: 50px;
    text-decoration: none;
    opacity: 0.75;
    transition: opacity 0.1s linear;
    color: #6c7279;
}

.intro {
    display: flex;
    background-color: #eeeae1;
}

.intro_text_container {
    width: 50%;
    border-right: 1px solid #515369;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #343434;
}

.intro_text {
    width: 400px;
    margin: 0;
}

.intro_photo {
    width: 50%;
    height: 500px;
    overflow: hidden;
}

.intro_img {
    height: 500px;
}

.introduce {
    background-color: #343434;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.introduce_text {
    width: 700px;
    color: #fff;
    text-align: center;
    margin: 0;
    font-weight: 300;
}

.hints__container {
    background-color: #eeeae1;
    padding-bottom: 150px;
}

.hint__headline {
    font-size: 25px;
    color: #343434;
    padding-top: 40px;
    text-align: center;
}

.hint__box {
    border-bottom: 1px solid #343434;
    border-top: 1px solid #343434;
    display: flex;
    background-color: #dfd6cf;
    width: 100%;
    height: 430px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
.hint__box:last-child {
    margin-bottom: 0;
}
.hint__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.hint__photo {
    padding-top: 5px;
    position: relative;
    padding-left: 50px;
    width: 400px;
    height: 350px;
    overflow: hidden;
}
.hint__img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
}
.hint__text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}
.hint__title {
    width: 380px;
    padding-bottom: 15px;
    border-bottom: 1px solid #343434;
    font-size: 30px;
    color: #343434;
}

.hint_description {
    padding-top: 15px;
    padding-right: 20px;
}
.quote {
    text-align: center;
}
.footer {
    background-color: #343434;
    display: flex;
    justify-content: space-around;
    color: #eeeae1;
    padding: 20px 0 20px 0;
}

.footer__icons {
    display: flex;
}

.icon {
    margin-left: 30px;
}
